.page__partners {
	padding-top: 158px;
	@media (max-width: 1024px) {
		padding-top: 40px;
	}
	@media (max-width: 768px) {
		padding-top: 20px;
	}
}
.partners__container {
}
.partners__list {
	display: flex;
	justify-content: space-between;
	@media (max-width: 768px) {
		flex-wrap: wrap;
		justify-content: center;
	}
}
.partners__item {
	max-width: 145px;
	img {
		width: 100%;
		height: 100%;
	}
	@media (max-width: 768px) {
		max-width: 120px;
	}
}