/*-----RESETS STYLES-------*/

@import "nullstyle.scss";



/*--------------FONTS----------------*/

@import url('https://fonts.googleapis.com/css2?family=Plus+Jakarta+Sans&family=Roboto&display=swap');


/*------------BODY-----------------*/

body {
	font-family: Plus Jakarta Sans;
	font-weight: 400;
}

/*------BODY.LOCK FOR BURGER-------*/
body._lock {
	overflow: hidden;
}

/*-----------WRAPPER--------------*/

.wrapper {
	min-height: 100%;
	overflow: hidden;
	display: flex;
	flex-direction: column;
}

/*--------------CONTAINER----------*/

[class*="__container"] {
	max-width: 1156px;
	margin: 0px auto;
	padding: 0px 20px;
	position: relative;
	box-sizing: border-box;

	@media (max-width: 1024px) {
		padding: 0px 15px;
	}

	@media (max-width: 768px) {
		padding: 0px 10px;
	}
}

/*------------CONTAINER-BIG--------*/
/*
[class*="__container-big"] {
	max-width: 1440px;
	margin: 0px auto;
	padding: 0px;
	position: relative;
	overflow: hidden;
	box-sizing: border-box;
}
*/



/*----------TITLE-----------*/

.title {
	font-family: 'Roboto';
	font-size: 50px;
	line-height: 118%;
	text-align: center;
	color: #000000;

	@media (max-width: 1024px) {
		font-size: 40px;
	}

	@media (max-width: 768px) {
		font-size: 35px;
	}
}

/*----------SUB-TITLE-----------*/



/*----------PARAGRAPH-----------*/

.paragraph {
	font-size: 20px;
	line-height: 150%;
	text-align: center;

	@media (max-width: 768px) {
		margin-top: 30px;
	}
}

/*-----------BUTTONS-----------*/

.black-button {
	color: #FFFFFF;
	padding: 14px 20px 16px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	border-radius: 100px;
	transition-duration: 1000ms;

	&:hover {
		color: #000000;
		background-color: #FFFFFF;
		text-decoration: underline;
	}
}

.lil-black-button {
	color: #FFFFFF;
	padding: 11px 20px;
	display: flex;
	align-items: center;
	justify-content: center;
	background-color: #000000;
	border-radius: 100px;
	transition-duration: 1000ms;

	&:hover {
		color: #000000;
		background-color: #FFFFFF;
		text-decoration: underline;
	}
}


.button {
	display: flex;
	color: #000000;
	transition-duration: 400ms;

	&:hover {
		text-decoration: underline;
	}
}





/*-----------IMPORTS----------------*/

/*-----------HEADER----------------*/

@import "header.scss";

/*-----------MAIN-------------*/

main {
	flex: 1 1 auto
}

@import "page__infrastructure.scss";

@import "page__support.scss";

@import "page__generation.scss";

@import "page__partners.scss";

@import "page__built.scss";

@import "page__focused.scss";

@import "page__review.scss";

@import "page__service.scss";




/*-----------FOOTER-----------*/

@import "footer.scss";